body {
  margin: 0;
  padding: 0;
}
.navigation-top {
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #312A2A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.navigation-top p {
  margin-left: 20px;

}

.navigation-top ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-right: 20px;
}

.navigation-top a {
  text-decoration: none;
  color: white;
}

.container-gauges {
  margin: 0 auto;
  /* width: 95%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;

}

.container-gauges div {
  /* max-width: max-content; */
  width: 20%;
}

.container-gauges canvas {
  width: max-content;
}


.seven-segments {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: RGB610,;
  border-radius: 8px;
}
