body {
  margin: 0;
  padding: 0;
  background-color: #312A2A;
}
.navigation-top {
  background-color: #312A2A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.container-gauges {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: auto;
}

.container-gauges div {
  width: 15%;
}

.container-gauges canvas {
  width: max-content;
}

.seven-segments {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: RGB610,;
  border-radius: 8px;
}

.speed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.speed-container .odometer {
  background-color: transparent;
  width: min-content;
}

.speed-container .odometer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  color: white;
  width: 100%;
}

.odometer {
  font-size: 40px;
}
